*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: rgb(7, 10, 166);
    text-align: center;
}

.button {
    color: aqua;
    background-color: rgb(155, 224, 235);
    text-align: center;
    margin: 16px 8px;
    padding: 4px;
}

a {
    color:rgb(50, 7, 137)
}

p {
    color: rgb(0, 0, 0);
    background-color: rgb(193, 245, 245);
    padding: 24px;
    margin: 16px;
}

h2 {
    color: rgb(1, 1, 1);
    text-align: center;
}

h3 {
    color: rgb(112, 0, 82);
    /* text-align: center; */
    margin: 16px;
}

.Ingredients{
    background-color: rgb(193, 245, 245);
    padding: 24px;
    margin: 16px;
}
img{
    margin: 16px;
    width: 90%;
}

.recipe{
    background-color: rgb(193, 245, 245);
    padding: 24px;
    margin: 16px;
}
